@font-face
{
  font-family: 'CursiveFonts';
  src: url('fonts/1428551.ttf');
  src: local('☺'), url('fonts/1428551.ttf') format('woff'), url('fonts/1428551.ttf') format('svg');
  font-weight: 700;
  font-style: normal;
}