.brend {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&__icon {
		flex: 0 0 60px;
		width: 60px;
		height: 60px;
		margin-right: 0.5em;
		border-radius: 50%;
		background: white;
		border: 2px solid color('lights', 'beige');
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			border-radius: 50%;
		}
	}
	&__name {
		font-size: $text-size--big;
		font-weight: bold;
		line-height: normal;
	}
}