.content-steps {
	&__item {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 45px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__img {
		flex: 0 0 550px;
	}
	&__item:nth-child(odd) &__img {
		order: -1;
		margin-right: 20px;
	}
	&__item:nth-child(even) &__img {
		order: 1;
		margin-left: 20px;
	}
	&__text {
		:first-child {
			margin-top: 0;
		}
		p {
			line-height: 20px;
		}
	}
}

.content-places {
	margin: 2rem 0;
	&__list {
		list-style: none;
		padding: 0;
		margin:0;
	}
	&__item {
		display: inline-block;
		margin: 0;
		margin-right: 5px;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		border: 3px solid #666666;
		background: transparent;
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
		&:hover,
		&--hover {
			background: rgba(255,168,0,.3);
			border-color: color('yellow', 'darker');
		}
		&--active,
		&--active:hover{
			background: color('yellow', 'darker');
			border-color: color('yellow', 'darker');
			&::before {
				@include icon-styles;
				content: icon-char(tick);
				color: white;
				font-size: 1.5rem;
			}
		}
		&--disable,
		&--disable:hover {
			border: 3px solid #bbbbbb;
			background: rgba(102,102,102,0.2);
			cursor: default;
		}
	}
}

.close-youtube{
	width: 100px;
	height: 55px;
	background: rgba(0,0,0,0);
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.bg-purpur{
	background: #8d0209;
	color: #ffffff;
	padding: 30px 50px;
}
.bg-purpur hr {
	border: 0;
	border-top: 1px solid #fdc862;
}
/*about*/
.numerically{
	& > div {
		margin: 0 18px;
		width: 170px;
		vertical-align: top;
		color: #54534f;
		font: 15px;
		text-transform: uppercase;
		strong {
			font-size: 40px;
			color: #c1272d;
			margin: 0 10px;
		}
		span {
			color: #54534f;
			font-size: 20px;
			text-transform: uppercase;
		}
	}
}
.facts {
	& > div {
		width: 220px;
		vertical-align: top;
		margin: 0 20px;
	}
}
.company{
	margin: 40px 0;
	& > div{
		margin: 0 10px;
		width: 155px;
		span{
			font-size: 20px;
			color: #c1272d;
		}
	}
}
.video{
	.row{
		margin: 45px 0;
		div{
			font-size: 20px;
			color: #c1272d;
		}
	}
}
.products{
	flex-wrap: wrap;
	align-content: flex-start;
	margin: 25px 0;
	.item{
		width: 290px;
		padding: 15px 35px;
		text-align: center;
		font-size: 14px;
		img{
			width: 200px;
		}
		a{
			&:hover {
				text-decoration: none;
			}
			div{
				color: #494932;
			}
		}
	}
}

#img-res{
	width: 100%;
	height: auto;
	background: #eeeeee;
}
.page-content{
	width: 100%;
}