input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
select,
textarea {
	font-size: $text-size;
	font-family: $font-base;
	line-height: 20px;
	vertical-align: middle;
	color: #666666;
	padding: 0.5em;
	border: 2px solid color('lights', 'red-lighter');
	margin: 6px 0;
	border-radius: $base-border-radius;
	box-sizing: border-box;
	.field & {
		width: 100%;
	}
	&:hover {
		border-color: color('gray', 'light');
	}
	&:focus {
		border-color: $primary-color;
	}
	.error & {
		border-color: $error-color;
		color: $error-color;
	}
	&:disabled,
	.disabled & {
		color: #b9b9b9;
		background: color('lights', 'gray');
		border-color: #ede6e6;
		pointer-events: none;
	}
}
.textarea-autoresize {
	display: block;
	width: 100%;
	height: 40px; // default height, will change by autoresize plugin
	overflow: hidden;
	will-change: height;
	transition: height 0.2s ease-out;
}
label {
	display: block;
	.error & {
		color: $error-color;
	}
	.disabled & {
		color: #b9b9b9;
	}
	.field--small &,
	&.small {
		font-size: $text-size--small;
	}
}
.field {
	.form-grid & {
		flex: 1;
	}
	&--small {
		width: 107px;
		.form-grid & {
			flex: 0 0 107px;
		}
	}
	&.success::after {
		content: 'OK';
		display: block;
		position: absolute;
		font-size: $text-size--small;
		right: 1em;
		bottom: 1em;
		color: $error-color;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.form-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-bottom: 2em;
	.tile-block &:last-child {
		margin-bottom: 1.5em;
	}
	.btn {
		flex: 0;
		margin: 6px 0;
		margin-left: 5px;
	}
	.field + .field,
	.field + &__block,
	&__block + .field {
		margin-left: 5px;
	}
	&--big-gutter {
		.btn,
		.field + .field,
		.field + &__block,
		&__block + .field {
			margin-left: 25px;
		}
	}
	p + & {
		margin-top: 2em;
	}
	&__block {
		height: 2em;
		margin: 6px 0;
	}
}
.error-text {
	font-size: $text-size--small;
	color: $error-color;
	position: absolute;
	left: 0;
	bottom: -1rem;
	display: none;
	.error & {
		display: block;
	}
}

.form-calc {
	&__text {
		font-size: $text-size--big;
		font-weight: bold;
		color: color('gray', 'dark');
	}
}


.field-inline{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 20px;
	label{
		width: 25%;
		font-size: 16px;
		padding-top: 10px;
		padding-right: 20px;
		text-align: right;
		box-sizing: border-box;
	}
	.field-fullwidth{
		width: 75%;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="url"],
	select,
	.ui-selectmenu-button,
	textarea{
		margin: 0;
		margin-bottom: 5px;
	}
}
.orders{
	form{
		margin: 0;
	}
	.btn--min{
		font-size: 14px;
		padding: 8px 1px;
	}
}


@import 'custom-select';
@import 'datepicker';
@import 'uploadfile';