html, body {
	width: 100%;
	min-width: $container-width;
}
div {
	position: relative;
	box-sizing: border-box;
}
.hidden {
	display: none;
}
.container {
	width: $container-width;
	margin: 0 auto;
}

.page {
	background: $page-bg;
	width: 100%;
}
.workarea {
	display: flex;
}
@import 'header';
@import 'sidebar';
.page-content {
	padding: 2rem 6rem 10.5rem;
	flex: 0 0 calc(820px + 12rem);
}
.footer {
	position: absolute;
	left: 6rem;
	bottom: 1.5rem;
	.copyright {
		margin: 0;
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	@for $i from 1 through 6 {
		&-#{$i} {
			justify-content: space-between;
			> div {
				width: calc((100% - #{$i - 1}em) / #{$i});
			}
		}
	}
}