// tile-block
.tile-block {
	background: white;
	border: $base-border;
	margin-bottom: 2rem;
	.tabs__content &:first-child {
		margin-top: -1rem;
	}
	.sidebar & {
		border-color: #c5bba5;
	}
	&__head,
	&__content {
		padding: 22px;
	}
	&__head {
		border-bottom: $base-border;
	}
	&.video {
		border: 0;
	}
	&.video &__content {
		border: $base-border;
	}
	&.video &__video + &__content {
		border-top: 0;
	}
	&__table {
		padding: 0.5em 1.5em;
	}
}