// tile-block
.tile-block {
	background: white;
	border: $base-border;
	margin-bottom: 2rem;
	.tabs__content &:first-child {
		margin-top: -1rem;
	}
	.sidebar & {
		border-color: #c5bba5;
	}
	&__head,
	&__content,
	&__foot {
		padding: 22px;
	}
	&__head {
		border-bottom: $base-border;
	}
	&__foot {
		border-top: $base-border;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&.video {
		border: 0;
	}
	&.video &__content {
		border: $base-border;
	}
	&.video &__video + &__content {
		border-top: 0;
	}
	&__table {
		padding: 0.5em 1.5em;
	}
	&__form {
		padding: 3rem;
		:first-child {
			margin-top: 0;
		}
		&-actions {
			display: flex;
			justify-content: space-between;
			margin-top: 2.5rem;
		}
	}
	&--small {
		width: 550px;
	}
}