// typography
html, body {
	font-family: $font-base;
	font-size: $text-size;
	font-weight: normal;
	line-height: 1.5;
	color: $base-text-color;
}

p {
	color: $base-text-color;
	margin: 1em 0;
}
.upper-text {
	text-transform: uppercase;
}
.small-text {
	font-size: $text-size--small;
}

.light-text {
	color: color('gray', 'base');
}


a {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
	&:hover {
		color: $link-color--hover;
		text-decoration: underline;
	}
	&:active {
		color: $link-color--pressed;
	}
	&:focus {
		outline: none;
	}
	&:disabled,
	&.disabled {
		color: $link-color--disable;
	}
	.icon {
		fill: currentColor;
	}
	&.with-icon {
		&::after {
			@include icon-styles;
		}
		&--blank::after {
			content: ' 'icon-char(blank);
		}
	}
	.links & + & {
		margin-left: 30px;
	}
}

h1, h2, h3 {
	font-family: $font-heading;
	font-weight: normal;
	font-size: 24px;
	margin: 2em 0 1em;
	color: $heading-color;
	.page-content &:first-child {
		margin-top: 0;
	}
	a {
		color: currentColor;
	}
}
h1 {
	font-size: 36px;
}
h4 {
	font-weight: bold;
	font-size: 18px;
	margin: 1rem 0;
}

.highlight-box {
	margin: 20px 0;
	padding: 20px;
	background: color('yellow', 'light');
	border: 2px solid color('yellow', 'base');
	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}

ul, ol {
	padding-left: 21px;
	li {
		margin: 5px 0;
	}
}

%digit-in-circle {
	display: inline-block;
	box-sizing: border-box;
	font-weight: bold;
	width: 2rem;
	height: 2rem;
	border: 2px solid currentColor;
	border-radius: 50%;
	line-height: calc(2rem - 4px);
	text-align: center;
	vertical-align: middle;
	color: white;
	&--color {
		color: $secondary-color;
	}
	&--fill {
		color: $primary-color;
		background: $secondary-color;
		border-color: transparent;
	}
	&--small {
		font-size: $text-size--small;
		width: 23px;
		height: 23px;
		line-height: 19px;
	}
}

.notification {
	@extend %digit-in-circle;
	@extend %digit-in-circle--fill;
	@extend %digit-in-circle--small;
}